.button {
    text-align: right;
}

nav {
    background-color: aquamarine;
    text-align: center;
    width: 100%;
    border: 1px solid black;
}

.homepage ul li a {
    text-decoration: none;
    color: red;
    display: block;
    padding-left: 8px;
    padding-right: 8px;
    border-left: 1px solid black;
}

.first-child a {
    border-left: none !important;
}

.homepage ul li {
    float: left;
    list-style-type: none;

}

.findbutton {
    text-align: right;
}

.homepage ul li a:hover {
    text-decoration: underline;
}

.logo {
    text-align: left;
    width: 200px;
}

#body {
    width: 100%;
    clear: both;
    border: 1px;
    background-color: white;
    box-shadow: 0px 1px 5px 4px rgba(222, 208, 214, 0.75);
    -webkit-box-shadow: 0px 1px 5px 4px rgba(212, 207, 214, 0.75);
    -moz-box-shadow: 0px 1px 5px 4px rgba(222, 208, 214, 0.75);
}

article {
    display: flex;
    flex-direction: row;
    flex: 6;
}

aside#left,
aside#right,
section {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

aside#left {
    width: 20%;
    flex: 1;
}

aside#right {
    width: 20%;
    flex: 1;
}

aside div .h2-1 {
    background-color: aqua;
    width: 200px;
    padding-left: 0px;
    margin: 0px;
    text-align: center;

}

aside div .sachchude {
    font-size: medium;
    background-color: white;
    border: 1px solid black;
    width: 200px;
    margin: 10px;
    border-radius: 5px;
}

aside div .nhaxuatban {
    font-size: medium;
    background-color: white;
    border: 1px solid blue;
    width: 200px;
    margin: 10px;
    border-radius: 5px;

}

aside div .h2-2 {
    background-color: aqua;
    width: 200px;
    padding-left: 0px;
    margin: 0px;
    border: 1px solid white;
    text-align: center;
}
section{

    background-color: antiquewhite;
    border: 1px;
}
section h2{
    border: 1px solid black;
    background-size: auto;
    background-color: aqua;
    margin: 10px;
    text-align: center;
}

.ProductBox {
    width: 20%;
    border: 1px dashed green;
    background-color: blanchedalmond;
    text-align: center;
    padding: 5px;
    margin: 5px 25px;
    float:left ;
}
.ProductBox  img{
    width: 150px;
    height: 200px;
}

#right div .bestseller {
    background-color: aqua;
width: 250px;
height: 27px;
    margin: 0px;
    text-align: center;
}
#right div{
    border: 1px solid blue;
    margin: 5px;
}
#right  .namewebsite h2{
    border: 1px solid aqua;
    margin: 0px;
    text-align: center;
    background-color: aqua;
}
#right .access h2 {
    text-align: center;
    background-color: aqua;
    margin: 0px;

    border: 1px solid aqua;
}
.footer{
    background-color: aquamarine;
    text-align: center;
}