*{
    padding: 1;
    margin: 1;
}
.button {
    text-align: right;
}
nav{
    background-color: aquamarine ;
    text-align: center;
    width: 100%;
}
.homepage  ul li a {
    text-decoration: none;
    color: red;
    display: block;
    padding-left: 8px;
    padding-right: 8px;    
    border-left: 1px solid black;
}
.homepage ul li{
   float: left;
    list-style-type: none;

}
.findbutton{
    text-align: right;
}
.homepage  ul li a:hover {
 text-decoration: underline;
}
